*{
    margin: 0;
    padding: 0;
}

body{
    background: #222222;
    color: #fff;
}

.contenedor{
    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
    border: 3px solid #fff;
    padding: 40px;
}

.contenedor h2{
    margin-bottom: 20px;
    text-align: center;
}

.contenedor p{
    line-height: 30px;
}

.ejemplo {

    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
    border: 3px solid #fff;
    padding: 40px;
    text-align: center;
}

.ejemplo input {
    font-size: 18px;
    color: rgb(131, 118, 118);
    padding: 10px;
    border-radius: 10px;
    display: block;
    margin: 20px;
    margin-left: 30%;
}


.ejemplo input[type="submit"]{
    background: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 43%;
}

.contenedor-peli .imagenpeli{
    margin: 20px 0;
}

.contenedor-peli li{ /* ESTE ES EL EJEMPLO */
    margin: 20px 0;
}

.ejemplos { /* ESTE ES EL PROYECTO YA  */
    display: none;
    width: 45%;
    margin: 0 auto;
    margin-top: 40px;
    border: 3px solid #fff;
    padding: 40px;
    text-align: center;
}
.contenedor-pelis .imagenpeli{
    margin: 20px 0;
}

.contenedor-pelis li{
    margin: 20px 0;
}